body {
  font-family: 'Noto Serif KR', serif;
}
h1 {
  margin:20px;
  margin-bottom: 0px;
}
.h1 {
  font-size:20px;
}
.main_link {
  color:royalblue;
  text-decoration: none;
}
#별점 {
  padding-left: 20px;
  padding-bottom: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid gray;
}
p {
  text-indent: 15px;
  margin-top:40px;
  margin-bottom:40px;
  line-height: 160%;
}
#layout {
  display:grid;
  grid-template-columns: 150px 1fr;
}
#layout2 {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}
#list {
  border-right: 1px solid gray;
  margin:0px;
  padding-top: 35px;
  padding-left: 43px;
}
#list a {
  color:black;
  text-decoration: none;
}
li {
  color:dimgray;
  padding-bottom: 8px
}
#image {
  margin:30px;
}
#contents {
  padding:35px;
  padding-top: 14px;
}
.저자-소개 p {
  margin-top: 16px;
  margin-bottom: 16px;
}
h2 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.noindent {
  text-indent: 0px;
}
.small-text {
  font-size: 14px;
}
.gothic {
  font-family: 'Nanum Gothic Coding', monospace;
}
.br0 {
  margin:0px;
}
.p-bottom {
  margin-bottom: 40px;
}
.주석 {
  color:black;
  text-decoration: none;
}
.주석2 {
  color:royalblue;
}
.주석3 h2 {
  margin-top: 30px;
}
.white{
  color:white;
}
@media(max-width:800px) {
  #layout {
    display:block;
  }
  #별점 {
    border-bottom: none;
  }
  #list {
    border-right: none;
    padding-top: 20px;
  }
  #contents {
    padding-top: 19px;
  }
  #image {
    width:60%;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  }
@media(max-width:479px) {
  #list {
    padding-top: 13px;
  }
  #image {
    width:100%;
    margin-top: 20px;
  }
}
}
